.img-smoll {
    
    height: 2.8rem;
    width: 2.8rem;
    max-width: 2.8rem;
    cursor: pointer;
    img {
        @include img-fluid();
    }

}
.img-smoll::after {
    display: block;
    margin-top: 5rem;
}
.img-smoll :hover{
    filter: contrast(200%);
}